@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
    background: #f2f2f2;
}
/* html{
    scroll-behavior: smooth;
} */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
.navbar h1{
    font-weight: bolder;
}
.navbar{
 padding: 20px;
 position: relative;
 color: white;
 background-color: rgb(50, 48, 48);
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 55%;
    font-size: 16px;
    font-weight: 400;
}
a{
    text-decoration: none;
    color: #fff;
}
li{
   margin: 20px;
   list-style-type: none;
}
.top {
    height: 100vh;
  width: 100%;
  position: relative;
  z-index: -100;
  background: url("https://koa.com/blog/images/family-camping-at-sunset.jpg?preset=heroimagecropped");
  background-position: center 65%;
  background-size: cover;
  background-attachment: fixed;
}
.top-absolute{
    position: absolute;
    top: 30%;
    left: 15%;
}
.top::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.2);
}
.top-absolute h1{
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 10px;
    color: white;
}
.subtitle{
    position: absolute;
    left: 5%;
    font-size: 20px;
    text-align: center;
    color: #fff;
}
.top a{
    border: 2px solid white;
    text-decoration: none;
    background-color: #fff;
    font-size: 20px;
    color: #000;
    position: absolute;
    top: 210%;
    left: 40%;
    padding: 15px;
    width: 200px;
    text-align: center;
    transition: 0.4s ease;
    border-radius: 8px;
}
.top a:hover{
    color: #fff;
    background: rgba(255,255,255,0.7);
}
.card{
    width: 30%;
    height: 350px;
    /* border: 2px solid red; */
    border-radius: 8px;
   background-color: #fff;
   margin: 10px;

}
.card img{
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
    margin:30px 0 20px 125px;
}
.card h3 , .card p{
    text-align: center;
    padding: 10px;
}
.middle-content{
    max-width: 100%;
    display: flex;
    height: 600px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top:20px ;
}
.middle{
    /* margin-top: 50px;
    margin-bottom: 150px; */
    height: 950px;
}

.middle h1, .middle p{
    text-align: center;
    padding: 5px;
}
.middle h1, .bottom h1, .end h1{
    font-size: 40px;
}
section{
    width: 100%;
    padding-top: 80px; 
}
.bottom h1, .bottom p, .end h1, .end p{
    text-align: center;
}
article{
    margin-top: 20px;
    margin-left: 30px;
    width: 100%;
}
article h4, article span{
    padding: 5px;
    text-align: left;
}
article h4{
    margin-top: 35px;
    font-size: 20px;
}

article>ul>li{
    list-style-type:square;
    margin:0 0 0 25px;

}
.bottom{
    height: 700px;
}
.end-article{
    margin-top: 100px;
}
.end{
    position: relative;
    height: 700px;
}
article img{
        width: 20px;
        height: 20px;
        margin-right: 5px;
        vertical-align: middle;
}
.end-article li{
    list-style-type: none;
    padding: 5px;
}

aside{
    position: absolute;
    top: 35%;
    left: 50%;
}
input,textarea{
    display: block;
    padding: 10px;
    margin: 15px;
    width: 550px;
}
button{
    margin-left: 15px;
    color: #fff;
    background-color: #1f1f1f;
    height: 40px;
    width: 200px;
    font-size: 15px;
}


